.garage-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.car {
  margin-top: 20px;
}

.car-list {
  width: 100%;
}

.car-cont {
  width: 100%;
  background-color: aqua;
}

.name-color {
  display: flex;
  justify-content: flex-start;

}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(500%);
  }
}