.winner-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.winner {
  margin-top: 20px;
}

.winner-list {
  width: 100%;
}

.winner-cont {
  width: 100%;
  background-color: aqua;
}